body {
    background-color: burlywood;
}
.calculatrice {
    width: 350px;
    height: 400px;
    background-color: #eeeeee;
    box-shadow:5px 8px 8px rgb(50,50,50);
    border-radius: 10px;
    border: 1px solid #cccccc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin:auto;
    padding-left:5px;
    padding-bottom:5px;
}
.calculatrice td {
    height: 16.66%;
}
.calc_td_resultat {
    text-align:center;
}
.calc_resultat {
    width:90%;
    height: 55%;
    text-align:right;
    background-color: bisque;
}
.calc_td_calculs {
    text-align: center;
}
.calc_calculs {
    width:90%;
    text-align:left;
}
.calc_td_btn {
    width:25%;
    height:100%;
}
.calc_btn {
    width:90%;
    height:90%;
    font-size:20px;
    background-color:#EEEEEE;
}
.btn_red_text {
    color: red;
}

        


       

